$border-radius: 25px;

.food-warrior {
    min-width: 200px;
    width: 200px;
    height: 250px;
    background-color: #e5e5e5;
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid brown;
}

.character-image {
    width: inherit;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.selected {
    -webkit-box-shadow: 1px 2px 21px 6px #7c0505; 
    box-shadow: 1px 2px 11px 6px #7c0505;
}