/* You can add global styles to this file, and also import other style files */

@import './app/styles/colors.scss';

html {
    width: 100vw;
    height: 100vh;
    background-color: $main;
}

body {
    margin: 0;
}