@import '../../styles/cards.scss';
@import '../../styles/colors.scss';

$border-radius: 25px;

.card-content {
    @include card-content(80%);
}

.confirm-button {
    align-self: center;
}

.battle {
    justify-content: center;
    display: flex;
    gap: 5rem;
    margin: 30px 0;
}

.vs-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    span {
        font-size: 3rem;
    }
}