@import '../../styles/cards.scss';
@import '../../styles/colors.scss';

$border-radius: 25px;

.card-content {
    @include card-content(80%);
}

.confirm-button {
    align-self: center;
}

.battle {
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin: 30px 0;
}

.vs-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    span {
        font-size: 7rem;
    }
}

.food-warrior-container {
    display: flex;
    flex-direction: column;
}

.log-entry {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    gap: 1rem;
}

.health-bar {
    margin: 10px 0;
}

.battle-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}